.events {
    display: grid;
    grid-template-columns: 0.90fr 0.5fr 0.3fr 2fr 0.5fr;
    margin-top: 0.25rem;
    text-align: center;
    border: 1px solid grey;
    overflow-y: scroll;
    flex: 1 1 auto;
    height: 100%;
}


.event {
    display: contents;
}

.event p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.event button {
    cursor: pointer;
    width: 50%;
    font-family: inherit;
    font-size: 1rem;
}

.event button:hover {
    background-color: lightblue;
}

.event:hover > * {
    background-color: lightgrey;
}

.event * {
    padding: 0.15rem;
    border: 0.5px solid grey;
    min-height: 2.15rem;
    cursor: default;
}

.events .hash {
    font-family: monospace;
}

#action_column_name {
    text-align: left
}

.history {
    position: absolute;
    bottom: 0;
    top: 48%;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.history h3 {
    text-decoration: underline;
    flex: 0 1 auto;
}
