.version_pane__select {
    flex-grow: 1;
    position: relative;
    padding: 0.5rem;
}

.version_pane__select .action {
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.version_pane__select select {
    font-size: inherit;
    font-family: inherit;
}

.version_pane {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app_rows {
    flex:1;
    height: 100%;
    overflow: scroll;
}

.app_row {
    border-bottom: 1px solid black;
}

.version_table {
    display: flex;
    max-height: 40vh;
}

.action {
    cursor: pointer;
    margin-top: 0.25rem;
    border-radius: 0.25rem;
}

.action:hover {
    background: lightblue
}

.title {
    cursor: pointer;
}

.commit_select {
    font-family: inherit;
    font-size: inherit;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
    background: lightcoral;
}
