@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background: whitesmoke;
    padding: 1rem;
    font-size: 1.25rem;
}

/* Utility Classes */

.left {
    float: left;
}

.loading {
    cursor: wait;
}

/* Utility Classes */

.update {
    margin: auto;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
}

.update:hover {
    background: lightblue;
}

.repos {
    display: grid;
    gap: 1rem;
}

.confirm {
    background: rgb(49,166,209);
    position: fixed;
    bottom: 50%;
    left: 50%;
    width: 25vw;
    transform: translate(-50%);
    height: 10vw;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 0.25rem;
    border: 1px solid black;
}

.confirm div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm div button {
    font-family: inherit;
    font-size: inherit;
    margin-right: 0.5rem;
    cursor: pointer;
}
